body{
    background: url(../image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif !important;
}
.hearder{
    margin-bottom: 180px;
}
.headtext{
    color: #ffffff;
    text-align: center;
    
}
.headtext h1{
    font-weight: 800;
    color: rgb(255, 174, 0);
}
/* .headtext p{
    font-size: 18px;
    font-weight: 300;
} */
.logo > img{
    width: 60%;
}
.inp-own{
    border-radius: 15rem;
    border: none;
    box-shadow: 4px 0px 10px 1px rgb(22, 22, 22,.2);
}


.search-icon {
    cursor: pointer;
    background: #ffffff;
    transform: translate(-34px, 0px);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px #0000005e;
}
.icon{
    color: #00000042;
}
.icon-btn > span{
    font-size: 27px;
    margin-left: 10px;
}

/* notepad area */

.modal-content{
    border: none;
    height: 312px;
    
}
.modals{
    box-shadow: 4px 0px 10px 1px rgb(22, 22, 22,.2);
    height: 50%;
    box-sizing: border-box;
}
.modal-head-text{
    border: none;
    font-size: 18px;
    
}

.form-control:focus {
    color: none;
    background-color:none !important;
    border-color: none;
    outline: none;
    box-shadow: none;
}
.dates{
    background: rgb(54, 54, 54);
    color: #ffffff;
    border-radius: 5px;
    margin-left: 25px;
}
.dates small{
    font-size: 14px;
    font-weight: 300;
}
.fix-size{
    height: 120px;
    overflow: auto;
    line-height: 28px;
}
textarea{
    resize: none;
    height: 120px;

}
.btns a{
    color: #00000042;
    position: relative;
    cursor: pointer;
}
.btns a:hover{
    color: #8f8e8e;
    
}
.color-plate {
    position: absolute;
    transform: translate(0px,68px);
    background-color: #ffffff;
    border-radius: 100px;
    height: 50px;
    top: 50%;
    opacity: 0;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, .2)
}
.plate{
    width: 30px;
    height: 30px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 50%;
}

.blue{
    background-color: #BCE0FF;
}
.yellow{
    background-color: #FFEDA5 ;
}
.red{
    background-color: #FFB2B2;
}
.purple{
    background-color: #B0A4E6;
}
.white{
    background-color: #ffffff;
    /* border: 0.1px solid #b7b5b5; */
}

.active-color{
    opacity: 1;
}
.selector{
    border: 2px dashed #777;
}
.un-selector{
    border: none
}